.jumbotron {
    background-color: tomato;
    color: black;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: tomato;
    margin-bottom: 0px;
    margin-top: 10px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
} 

footer.footer .row {
    margin: 0;
}

.card-hotel {
    flex: 1 25%;
    padding: 8px 16px;
    position: relative;
    margin-top: 10px;
}

.btn--reserva {
    width: 100%;
}